@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    line-height: 1.2; 
}

h1 {
    font-size: 2.5rem; 
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;  
    margin-bottom: 0.75rem;
}

p {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.prose hr.post-separator { 
    @apply mt-6 mb-2; 
}

.post-separator {
    @apply border-t border-gray-300 my-2 
}

/* Button Styles */
.btn { 
    @apply mr-4 py-2 px-4 rounded-full border border-violet-700 text-sm font-semibold transition duration-300 ease-in-out transform hover:-translate-y-1 focus:outline-none focus:ring-2 focus:ring-violet-500 bg-white text-violet-700;
}

.btn:hover {
    @apply bg-violet-100; 
}


.scroll-top-button {
    @apply p-2 rounded-full bg-transparent text-violet-500 ring-2 ring-violet-400 shadow-md   ;
}

.btn-preview {
    @apply bg-transparent text-violet-700 hover:bg-gray-100 border-0 rounded-full;
}

/* Post Link Styles */
.post-link {
    @apply no-underline; 
}
.post-link:hover {
    @apply text-violet-600; 
}

.post-link:hover .view-overlay {
    opacity: 1; 
}
